* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-weight: normal;
}

html, body, #root {
  width: 100%;
}

#root {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
  padding: 50px 0;
}

body {
  background-color: lightgray;
}