* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-weight: normal;
}

html, body, #root {
  min-width: 100%;
}

body {
  background-color: lightgray;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  padding: 20px;
}

@media (min-width: 1200px) {
  #root {
    flex-direction: row;
    justify-content: center;
    align-items: start;
  }
}