@import url(./fonts/fonts.css);

.cv {
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 8.5in;
  height: 11.5in;
}

.general {
  background: slategray;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.5rem 0;
  margin-bottom: 1.5rem;

  & .general-name {
    font-size: 2.5rem;
  }

  & .general-details {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin-top: 0.25rem;
  }
}

.education, .experience {
  font-size: 12pt;
  line-height: 16pt;
  margin: 1rem 0.5in;
  display: flex;
  flex-direction: column;

  & .education-details, .experience-details {
    position: relative;
    margin-bottom: 0.5rem;
  }

  & h2 {
    font-size: 16pt;
    font-variant: small-caps;
    padding-bottom: 0.25rem;
    margin-bottom: 0.25rem;
    border-bottom: 1px solid slategray;
  }

  & .education-school, .experience-position {
    font-size: 12pt;
  }

  & .education-degree, .experience-company {
    font-weight: normal;
    font-size: 12pt;
  }

  & .experience-info {
    list-style: square;
    font-size: 11pt;
    margin-left: 2rem;

    & li::marker {
      color: slategray;
    }
  }
}

.start-to-end {
  position: absolute;
  right: 0;
  top: 0;
}