#root {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 50px 0;
}

.cv {
  /* border: 3px solid white; */
  font-family: sans-serif;
  box-shadow: 0 3px 5px rgba(0,0,0,0.5);
  width: 8.5in;
  height: 11.5in;
}

.general {
  background: slategray;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.5rem 0;
  margin-bottom: 1.5rem;

  & .general-name {
    font-size: 2.5rem;
  }

  & .general-details {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin-top: 0.5rem;
  }
}

.education, .experience {
  font-size: 12pt;
  line-height: 1.5rem;
  margin: 1rem 0.5in;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  & .education-details, .experience-details {
    position: relative;
  }

  & h2 {
    font-variant: small-caps;
    padding-bottom: 0.25rem;
    border-bottom: 1px solid black;
  }

  & .education-school, .experience-position {
    font-size: 12pt;
  }

  & .education-degree, .experience-company {
    font-weight: normal;
    font-style: italic;
    font-size: 11pt;
  }

  & .experience-info {
    font-size: 11pt;
    margin-left: 2rem;
  }
}

.start-to-end {
  position: absolute;
  right: 0;
  top: 0;
}