@import url(./fonts/font-handling.css);

.cv {
  background-color: white;
  width: 8.5in;
  min-width: 8.5in;
  height: 11.5in;
  min-height: 11.5in;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px;
  display: flex;
  flex-direction: column;

  & .cv-body {
    padding-top: 1.25rem;
  }
}

.section-personal {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.25rem 0;

  & .header-personal {
    font-size: 2.5rem;
  }

  & .body-personal {
    display: flex;
    flex-direction: row;  
    list-style: none;
    gap: 2.5rem;
    padding-top: 0.25rem;
  }

  & svg {
    padding-right: 0.5rem;
  }
}

.section-education, .section-experience, .section-projects {
  padding: 0 0.5in;
  font-size: 12pt;

  & .header-education, .header-experience, .header-projects {
    font-size: 16pt;
    font-variant: small-caps;
  }

  & .body-education, .body-experience, .body-projects {
    padding-top: 0.25rem;
    padding-bottom: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    line-height: 16pt;
  }

  & .education-details, .experience-details, .project-details {
    position: relative;
  }

  & .education-school, .experience-position, .project-title {
    font-size: 12pt;
  }

  & .experience-bullets, .project-bullets {
    font-size: 11pt;
    list-style: none;

    & .experience-bullet, .project-bullet {
      padding-left: 1rem;
      display: flex;
      flex-direction: row;
      justify-content: start;
      align-items: start;
      gap: 0.5rem;

      & .bullet-point {
        min-width: 5px;
        min-height: 5px;
        margin-top: 5pt;
      }
    }
  }
}

.start-to-end {
  position: absolute;
  top: 0;
  right: 0;
}