.editors {
  width: 100%;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px;
}

@media (min-width: 1200px) {
  .editors {
    max-width: 500px;
    max-height: calc(100vh - 40px);
    overflow-x: auto;
    position: sticky;
    top: 20px;
  }
}

.editor {
  position: relative;
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  & .editor-header {
    padding-bottom: 0.5rem;
    border-bottom: 1px solid rgba(0,0,0,0.25);
  }

  & .editor-section {
    width: 100%;
    border: 1px dashed rgba(0,0,0,0.25);
    padding: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.75rem;

    & label {
      width: 100%;

      & input {
        width: 100%;
        margin-top: 0.125rem;
      }
    }

    & .label-half-width {
      width: calc(50% - 0.375rem);
    }

    & button {
      width: 100%;
    }
  }

  & .bullets {
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;

    & .bullet {
      display: flex;
      flex-direction: row;
      gap: 0.25rem;

      & input {
        width: 100%;
      }

      & button {
        width: min-content;
      }
    }
  }
}

.icon-button {
  appearance: none;
  background: transparent;
  border: none;

  &:hover {
    cursor: pointer;
  }

  & svg {
    transition: color 0.3s ease;
  }

  &.hide-button {
    position: absolute;
    right: 1rem;
    top: 1rem;

    & svg {
      width: 1.5rem;
      height: 1.5rem;
    }

    &.hide-button-reveal svg {
      color: black;
      &:hover {
        color: gray;
      }
    }
  
    &.hide-button-hide svg {
      color: olivedrab;
      &:hover {
        color: yellowgreen;
      }
    }
  }

  &.delete-bullet {
    color: darkred;
    &:hover {
      color: crimson;
    }
  }
}

/* .hide-button {
  
  appearance: none;
  background: transparent;
  border: none;
  
  

  &:hover {
    cursor: pointer;
  }

  
} */
