@font-face {
  font-family: 'CM Serif Roman';
  src: url('cmunrm-webfont.woff');
}

@font-face {
  font-family: 'CM Serif Oblique';
  src: url('cmunti-webfont.woff');
}

@font-face {
  font-family: 'CM Serif Bold';
  src: url('cmunbx-webfont.woff');
}

@font-face {
  font-family: 'CM Serif Bold Oblique';
  src: url('cmunbi-webfont.woff');
}

@font-face {
  font-family: 'CM Sans';
  src: url('cmunss-webfont.woff');
}

@font-face {
  font-family: 'CM Sans Bold';
  src: url('cmunsx-webfont.woff');
}

@font-face {
  font-family: 'CM Sans Oblique';
  src: url('cmunsi-webfont.woff');
}

.serif {
  font-family: 'CM Serif Roman';

  & .education-location, .experience-location {
    font-family: 'CM Serif Oblique';
  }

  & .section-personal, .education-school, .experience-position {
    font-family: 'CM Serif Bold';
  }
}

.sans-serif {
  font-family: 'CM Sans';

  & .education-location, .experience-location {
    font-family: 'CM Sans Oblique';
  }

  & .section-personal, .education-school, .experience-position {
    font-family: 'CM Sans Bold';
  }
}